*{
    margin: 0rem;
}

body{
    background-color: rgb(62, 157, 160);
}
a{
    color: black;
    background-color: rgb(62, 157, 160);
   padding: 10px;
   align-items: center;
   margin-left: 7px;
   text-decoration: none;
}
div{
    background-color: rgb(70, 199, 199);
    height: 40px;
}